<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sweetPlatinum">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_enjoy"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_enjoy"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity android:name=".saveBattle.SaveBattleActivity" />

        <receiver
            android:name=".setting.AlarmReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".register.RegisterActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".setting.SettingActivity" />
        <activity android:name=".battleActivity.MultiPlayerActivity" />
        <activity android:name=".battleActivity.SinglePlayerActivity" />
        <activity android:name=".menuActivity.MenuActivity" />
        <activity android:name=".landingPage.LandingActivity" />
        <activity android:name=".splashScreen.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>